.ball {
  background-color: black;
  position: absolute;
}

.paddle {
  background-color: black;
  position: absolute;
}

.wall {
  background-color: black;
  position: absolute;
}

.bottom-Wall{
  background-color:red;
  position: absolute;
}

main {
  margin: 0 auto;
  width: 1000px;
  height: 650px;
  position: relative;
}