main {
  margin: 0 auto;
  width: 1000px;
  height: 650px;
  position: relative;
  border: solid black 5px;
  border-bottom: solid red 10px;
}

.paddle {
  background-color: black;
  position: absolute;
}

.ball {
  background-color: black;
  position: absolute;
}

.wall {
  position: absolute;
}

.brick{
  background-color:blue;
  position: absolute;
}